.barComponentContainer
{
    color: #DDD5D0;
    background-color: rgb(0, 0, 0);
    padding: 2px;
    display: grid;
    width: 100%;  /* Fixed width or adjust as needed */
    height: fit-content; 
    justify-items: center; /* Centers the grid items */
    grid-template-columns: 10fr 45fr 10fr 2fr 2fr 2fr 2fr 2fr ;
    grid-template-rows: 1fr; 
    row-gap: var(--gapVal);
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: var(--var-border-radius);
    border-width: var(--var-border-width);
    border-style: var(--var-border-style);
    border-color: var(--var-border-color);
}

.nameHolder
{
    display: grid;
    width: 100%;  /* Fixed width or adjust as needed */
    height: fit-content;
    grid-template-columns: 90fr 10fr ;
    column-gap: 10px;
}