.inputContainer
{
  width: 100%;
  height: 100%;
}

.inputComponent
{
  all: unset;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 5px;

  border-width: 0px 0px 0px 0px;
  border-style: solid;

  /* Word wrapping properties */
  word-wrap: break-word; /* Ensure long words wrap */
  white-space: pre-wrap; /* Keep whitespace and line breaks */
  overflow-wrap: break-word; /* Break words that exceed container width */
}

.inputComponent:active
{
  border: 0px;
  margin: 0px;
  
}