.chartContainer {
    width: 100%;
    height: 100%; /* or something like 300px or 40vh */
    max-height: 100%;
    border-radius: var(--var-border-radius);
    box-sizing: content-box;
    align-content: center;
    justify-items: center;
  }

  .chartWindow {

    width: 100% ;
    height: 100%;
    display: flex;
   
  }

.minimalistChartWindow{
    
    width: auto;
    height: auto;

}