:root {
    --gap: 10px;
  }

.ThermometerContainer
{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.ThermometerGrid
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% calc(30% - var(--gap));
    grid-template-rows: 100%;
    column-gap: var(--gap);
}

.tempDisplay
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 35% 15% 15% 35%;
}

.textValueABC
{
    width: 100%;
    height: 100%;
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    text-align: center; /* Ensures multi-line text is centered */
    font-size: 12px;
}

.tempValue
{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    text-align: center; /* Ensures multi-line text is centered */
}


