:root {
    --gap: 10px;
  }

.NPKContainer
{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.NPKGrid
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% calc(30% - var(--gap));
    grid-template-rows: 100%;
    column-gap: var(--gap);
}

.SecondContainerGrid
{
    width: 100%;
    height: 100%;
    display: block;
}

.NPKDisplay
{
    width: calc(100% - 10%);
    height: calc(100% - 10%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 5% 5% 5% 0%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.NPKDisplay div:first-child {
    grid-column: span 2; /* Makes the first row span across both columns */
}

.textValueABC123
{
    width: 100%;
    height: 100%;
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    text-align: center; /* Ensures multi-line text is centered */
    font-size: 12px;
}

.NPKValue
{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    text-align: center; /* Ensures multi-line text is centered */
}


