.powerConsumptionContainer
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
}
.totalConsumed
{
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-content: center;
}

.powerConsumptionValues
{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 10px;
}

.childTotalConsumed1
{
    text-align: center;
    width: 100%;
    font-size: 15px;
}

.childTotalConsumed2
{
    text-align: center;
    width: 100%;
    font-size: 23px;
}